th,
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    /* border: 1px solid #C7C7C7 !important; */
    border-collapse: collapse;
    padding: 1px 5px !important;
    max-height: 26px !important;
}

th {
    font-weight: 400 !important;
}

table {
    /* border: 1px solid #C7C7C7; */
    /* border-collapse: collapse; */
}